body {
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Saans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.calculator {
    padding: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
}

.input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, .2s);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, .2s);
}