@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);

html,
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.main-wrapper {
    margin: 30px auto 0;
    width: 1000px;
    text-align: center;
}

.main-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3.2em;
}